body {
    /* border:1px solid black; */
    width:100%;
    margin:0 auto;
    background-color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    background-image:url(imagens/banner_3.jpg);
    background-position:center right;
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:300px;
    margin:0 10px 0 0;
}
.menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid black;
    background-color:orange;
    width:100%;
    position:sticky;
    top:0;
    bottom:0;
}
.menu ul {
    list-style-type:none;
    display:flex;
    gap:20px;
    justify-content:flex-end;
    align-items:center;
    margin:5px 10px 5px 0;
    color:black;
    font-size:17px;
}
.menu li {
    padding:2px;;
}
.menu li:hover {
    text-decoration:underline;
    color:red;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
}
.animes nav {
    display:flex;
    justify-content:center;
}
.animes ul {
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap:20px;
    flex-wrap:wrap;
    list-style-type:none;
    /* border:1px solid gray; */
    width:635px;
    height:100px;
}
.animes li:hover {
    text-decoration:underline;
    color:red;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
}
#layout {
    margin:0 auto;
    width:700px;
    display:flex;
    justify-content:left;
    
}
#mini {
    overflow-y:scroll;
    /* border:1px solid rgba(128, 128, 128, 0.836); */
    height:313px;
    box-shadow:5px 5px 10px gray;
}

#mini img {
    width:135px;
    height:87px;
}   
#view img {
    width:500px;
    height:313px;
    /* border:1px solid rgba(128, 128, 128, 0.836); */
    box-shadow:5px 5px 10px gray;
}
.title1, .title2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:1px 1px 1px black;
    color:Orange;
    text-transform:uppercase;
    text-align:center;
    font-size:30px;
}
#naruto {
    margin:0;
}
#goku {
    margin:0;
}
#luffy {
    margin:0;
}
#naruto #goku #luffy, img:hover {
    opacity:0.8;
    cursor:pointer;
}
.box {
    background-color:white;
    width:90%;
    margin:30px auto;
    padding:30px 0;
}
.box2 {
    padding:6px;
    margin:2px 0 0 0;
}
.content {
    width:70%;
    margin:0 auto;
}
.content img {
    width:250px;
    height:250px;
}
.img_1 {
    float:left;
}
.img_2 {
    float:right;
}
.end {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.end p {
    margin:0;
}