@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
body {
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  /* background-color:seagreen; */
  background-image:url('drone.jpg');
  background-size:cover;
  background-position: center;
}
/* todas as divs est達o contidas aqui */
.container {
position:absolute;
/* z-index:2; */
width:420px;
background:transparent;
color:white;
padding:10px;
}
.container h1 {
  font-size:36px;
  text-align:center;
}
.container .input-box {
  width:100%;
  height:50px;
  margin:30px 0;
}
/* divs usuario e senha est達o contidas aqui */
.input-box input {
  width:100%;
  height:100%;
  background-color:transparent;
  border:none;
  outline:none;
  border:2px solid rgba(255,255,255, 0.2);
  border-radius:40px;
  font-size:16px;
  color:white;
  padding:20px 45px 20px 20px;
}
.input-box input::placeholder {
  color:white;
}
.input-box i {
  position: absolute;
  z-index:1;
  margin-top:15px;
  right:20px;
}
/* checkbox lembre-me e link esqueceu a senha est達o contidas aqui */
.container .lembrar {
  display:flex;
  justify-content: space-between;
  font-size:14px;
  margin:-15px 0 15px 0;
}
.lembrar label input {
  accent-color: white;
  margin-right:3px;
}
.lembrar a {
  color:white;
  text-decoration:none;
}
.lembrar a:hover {
  text-decoration:underline rgb(255, 47, 92);
  cursor:pointer;
  transition:all 1s ease;
}
/* bot達o login */
.container .btn {
  width:100%;
  height:45px;
  background-color:rgb(255, 47, 92);
  border:none;
  outline:none;
  border-radius:40px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
  font-size:16px;
  color:white;
  font-weight:600;
}
.container .btn:hover {
  background-color:transparent;
  outline: 1px solid rgb(255, 47, 92);
  text-decoration:none;
  text-shadow:1px 1px 1px black;
  cursor:pointer;
  transition:all 1s ease;
}
/* div registrar link  */
.container .register-link {
  font-size:14px;
  text-align:center;
  margin:20px 0 15px;
}
.register-link {
  display:flex;
  gap:10px;
  justify-content:center;
}
/* link registrar */
.register-link a {
  color:white;
  text-decoration:none;
  font-weight:600;
}
.register-link a:hover {
  text-decoration:underline rgb(255, 47, 92);
  cursor:pointer;
  transition:all 1s ease;
}
input[type="checkbox"]:hover {
  cursor:pointer;
}