/* importei uma nova familia de fonte do google fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Aplique em todos elementos da página */
* {
    margin:0;
    padding:0;
    list-style-type:none;
    box-sizing:border-box;
    
}
img {
    max-width:100%;
}
/* corpo da página todo elementos estão contidos aqui*/
body {
    width:100vw;
    height:auto;
    margin:0 auto;
    font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size:14px;
    background-image:linear-gradient(white, gray);
    /* border:1px solid black; */
}
header {
    position:relative;
    margin:0 auto;
    top:0;
    max-width:1080px;
    height:480px;
    /* border:1px solid black; */

}
/* div do logotipo do site */
.logo {
    width:100px;
    display:flex;
    align-items:center;
}
/* imagem do logotipo */
.logo img {
    width:100%;
    opacity:0.9;
}
/*contém logotipo + menu de navegação desktop */
.nav-bar {
    width:100%;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    background-color:rgba(55, 53, 53, 0.77);
    position:absolute;
    top:0;
    right:0;
    z-index:1;
    height:70px;
    /* border:1px solid black; */
}
/* menu desktop */
.menu ul {
    display:flex;
    gap:20px;
    align-items:center;
    
}
/* icone menu hamburguer mobile */
.icon-mobile {
    width:35px;
    height:35px;
    position:absolute;
    right:0;
    top:0;
    z-index:6;
    transition:all 0.5s ease;
    /* border:1px solid black; */
    margin-top:10px;
    margin-right:5px;
    box-sizing: content-box;
    padding:5px;
}
/* refere-se a cada linha */
.icon-mobile div {
    width:30px;
    height:5px;
    border-radius:5px;
    background-color:white;
    margin-bottom:10px;
    transition:all 0.6s ease;
    outline:1px solid rgba(255, 255, 255, 0.884);
}
/* Efeito ao passar por cima o cursor do mouse */
.icon-mobile:hover {
    cursor:pointer;
}
/* menu para tablet e celular */
.menu-mobile {
    width:300px;
    /* height:33vh; */
    position:absolute;
    top:0;
    right:0;
    z-index:5;
    background-color:rgba(55, 53, 53, 0.77);
    margin-top:80px;
    display:none;
    padding:20px;
    transition:all 0.5s ease;
    border-radius:10px;
}
.menu-mobile ul {
    margin:0 auto;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:35px;

}
/* botão personalizado desktop, tablet e celular */
.btn-personalizado-1 {
    text-align:center;
    background-color:#ff2f5c;
    color:white;
    font-weight:bold;
    text-shadow:1px 1px 1px black;
    border-radius:7px;
    padding:10px 12px;
    border:none;
}
/* Efeito ao passar por cima o cursor do mouse botão entrar desktop*/
.menu .btn-personalizado-1:hover {
    background-color:transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration:none;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}
/* Efeito ao passar por cima o cursor do mouse botão entrar desktop*/
.menu-mobile .btn-personalizado-1:hover {
    background-color:transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration:none; 
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}
/* Efeito ao passar por cima o cursor do mouse item da lista do menu desktop*/
.menu li:hover {
    text-decoration:underline rgb(255, 47, 92);
    font-weight:bold;
    transition:all 1s ease;
    cursor:pointer;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}
/* Efeito ao passar por cima o cursor do mouse item da lista do menu para tablete e celular*/
.menu-mobile li:hover {
    text-decoration:underline rgb(255, 47, 92);
    font-weight:bold;
    cursor:pointer;
    transition:all 1s ease;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}

input[type="radio"] {
    display:none;
}
/* refere-se input /botões padrões*/
.caixa-1 {
    width:1080px;
    height:auto;
    position:absolute;
    top:0;
    text-align:center;
    /* border:1px solid yellow; */
}
/* refere-se label/ botão carrosel */
.caixa-2 {
    width:100%;
    position:absolute;
    z-index:4;
    top:350px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing:border-box;
    overflow: hidden;
    /* border:1px solid black; */
}
/* botões carrosel */
.btn {
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid ;
    border-radius:50%;
    cursor:pointer;
    margin-right:25px;
}
/* refere-se div que contem a imagem do carrosel */
.caixa-3 {
    /* margin-top:100px; */
    position:absolute;
    top:100px;
    width:100%;
    margin:0 auto;
    /* border:1px solid blue; */
}
/* imagem do carrosel */
.caixa-3 img {
    width:100%;
    height:300px;

}
/*div conteudo*/
.caixa-4 {
    width:100%;
    height:200px;
    position:absolute;
    top:100px;
    z-index:2;
    color:white;
    text-shadow:2px 1px 1px black;
    font-size:16px;
    display:flex;
    flex-flow:column wrap;
    text-indent:20px;
    justify-content:center;
    align-items:center;
    box-sizing:border-box;
    margin:0 auto;
    /* border:1px solid red; */
}
.caixa-4 p {
    text-align:center;
    width:90%;
    margin:0 auto;
}
/* Efeito ao passar em cima o cursor do mouse */
.btn:hover {
    background-color:rgba(255, 47, 92, 0.561);
    transition:all 1s ease;
}
/* botão saiba mais */
.btn-1{
    width:100%;
    display:flex;
    justify-content:center;
    position:absolute;
    top:280px;
    z-index:3;


}
/* botão saiba mais */
.btn-personalizado-2 {
    text-align:center;
    background-color:#ff2f5c;
    font-weight:bold;
    color:white;
    text-shadow:1px 1px 1px black;
    border-radius:7px;
    padding:10px;
    border:none;
}
.btn-personalizado-2:hover {
    background-color:transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration:none;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}
/* div conteúdo escondido */
.conteudo-1 {
    width:fit-content;
    display:none;
    background-color:rgba(0, 0, 0, 0.5);
    margin:0 auto;
    padding:20px;
    font-size:14px;
}
.conteudo-1 h2 {
    text-align:center;
}
.menu-mobile i {
    display:flex;
    justify-content: center;
    gap:10px;
}
.menu-mobile li {
    width:100%;
    border-bottom:1px solid rgba(128, 128, 128, 0.123);
    padding-bottom:5px;
}
main {
    max-width:1080px;
    position:relative;
    top:0;
    display:flex;
    justify-content:center;
    margin:0 auto;
    height:auto;
    /* border:1px solid black; */
}
section {
    width:100%;
    margin:0 auto;
    /* border:1px solid pink; */
}
article:nth-child(1) {
    width:90%;
    margin:0 auto;
    margin-bottom:100px;
}
.imagem-1 img {
    float:left;
    border-radius:10px;
    margin:20px 20px 0 20px;
}
article:nth-child(1) h2 {
    text-align:center;
    color:black;
    font-size:25px;
    margin-bottom:10px;
}
.conteudo-2 p {
    text-indent:30px;
    color:black;
}
.action {
    width:100%;
    text-align:left;
    margin-top:20px;
    /* border:1px solid black; */
}
.btn-action {
    width:fit-content;
    text-align:center;
    background-color:#ff2f5c;
    font-weight:bold;
    color:white;
    text-shadow:1px 1px 1px black;
    border-radius:7px;
    padding:10px;
    border:none;
}
.btn-action:hover {
    background-color:transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration:none;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    transition:all 1s ease;
}
.adicionar {
    display:none;
}
.cards {
        max-width:93%;
        margin:0 auto;
        flex-flow:row wrap;
        display:flex;
        align-items:center;
        gap:30px;
}
.card {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:300px;
    height:200px;
    background-color:rgb(17, 17, 17);
    border-radius:10px;
}
.imagem-card {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:5px;
}
.imagem-card h3 {
    width:fit-content;
    text-align:center;
    text-shadow:1px 1px 1px black;
    font-size:19px;
    /* border:1px solid white; */
}
.conteudo-card {
    width:95%;
    margin:0 auto;
    text-align:center;
    padding:0 15px;
}
article:nth-child(2) h2 {
    padding:30px 0;
    color:black;
    font-size:25px;
    text-align: center;
}
article:nth-child(2) {
    width:98%;
    margin:0 auto 50px auto;
    /* border:1px solid black; */
}
article:nth-child(3) h2 {
    padding:30px 0;
    color:black;
    font-size:25px;
    text-align: center;  
}
article:nth-child(3) p {
    color:black;
}
.imagem-2 {
    width:95%;
    margin:0 auto;
}
.imagem-2 img {
    width:100%;
    height:200px;
    border-radius:10px;
}
.conteudo-3 {
    width:90%;
    margin:0 auto;
}
.conteudo-3 p {
    text-indent:20px;
}

.card-equipe-1, .card-equipe-2, .card-equipe-3 {
    width:278px;
    height:350px;
    background-repeat:no-repeat;
    background-image:url(img/background-01.png);
    padding-top:120px;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:10px;
    margin:0 auto;
    background-color:white;
}
.card-equipe-2 {
    background-image:url(img/background-02.png);

}
.card-equipe-3 {
    background-image:url(img/background-03.png);

}
.imagem-perfil img{
    width:80px;
    border-radius:50%;
}
.conteudo-equipe h3 {
    color:rgb(255, 47, 92);
    font-size:22px;
    text-shadow:1px 1px 1px black;
}
.conteudo-equipe {
    color:black;
    text-align:center;

}
article:nth-child(4) {
    width:100%;
    display:flex;
    flex-direction:row;
    border:1px solid black;
}
/* Quero que quando chegue na largura máxima de 800px você esconda meu menu desktop*/
@media screen and (max-width:900px) {
    .menu {
        display:none;
    }
}
/* Quero que quando chegue na largura minima de 800px você esconda icone de menu mobile até o limite */
@media screen and (min-width:900px) {
    .icon-mobile {
        display:none;
    }
}
/* Quero que quando chegue na largura máxima de 600px você aplique largura de 100% no menu mobile e botão personalizado */
@media screen and (max-width:700px) {
    .menu-mobile, .btn-personalizado-1 {
        width:100%;
        margin:0 auto;
    }
}
/* Quero que quando chegue na largura minima de 600px voce aplique 100% de largura botão personalizado */
@media screen and (min-width:700px) {
    .btn-personalizado-1 {
        width:100%;
    }
}
@media screen and (max-width:1075px) {
    .card, .btn-action {
        margin:0 auto;
        width:350px;
    }

}
@media screen and (max-width:811px) {
    .card {
        margin:0 auto;
        width:600px;
    }
}
@media screen and (max-width:1075px) {
    .imagem img {
        width:250px;
        height:300px;
    }
}
@media screen and (max-width:700px) {
    .btn-action, .action {
        margin:0 auto;
        width:90%;
        text-align: center;
    }
}

