body { 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    margin: 50px;
}
.hero {
    background-image: url(../imagens2/bg-3.jpg);
    height: 500px;
    background-position: right center;
}

.hero2 h1 {
     font-family: Arial black;
     text-transform: uppercase;
     font-size: 36px;
     text-shadow: 3px 3px 5px black; 
     /* text-shadow o primeiro valor é o deslocamento x deslocamento no eixo horizontal, o segundo 
     valor é o eixo y é o deslocamento no eixo vertical, o terceiro valor representa o esfumaçamento 
     e por ultimo a a cor. */ 
     
     }
.hero2 {
    text-align: center;
    color: white;
    margin-top: 140px;

}
main {
    width: 90%;
    /* width espaçamento de largura*/
    margin: auto;
    margin-top: 10px;
    font-family: arial black;

}
.hero3 {
    background-color: white;
    margin-top: 10px;
}
article h2 {
    text-transform: uppercase;
}

footer {
    text-align: center;
    text-align: bottom;
    font-size: 20px;
    font-style: normal;
    background-color: gray;
    height: 60px;
    padding-top: 5px;
    

}