/* Importei uma nova família de fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Estilos gerais para todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para o corpo da página */
body {
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14px;
    background-image: linear-gradient(white,gray);
}

/* Estilos para o cabeçalho (header) */
header {
    position: relative;
    margin: 0 auto 20px;
    top: 0;
    z-index: 0;
    height: 480px;
    font-size: 15px;
    /* border: 1px solid black; */
}

/* Estilos para o logotipo */
.logo {
    width: 100px;
    display: flex;
    align-items: center;
}

/* Animação para o logotipo */
.animation_x span:nth-child(1) {
    transform: translateY(15px) rotate(-45deg) scaleX(1.1);
}

.animation_x span:nth-child(2) {
    opacity: 0;
}

.animation_x span:nth-child(3) {
    transform: translateY(-15px) rotate(45deg) scaleX(1.1);
}

/* Estilos para a imagem do logotipo */
.logo img {
    width: 100%;
}

/* Estilos para a barra de navegação (menu bar) */
.nav-bar {
    width: 100%;
    height:65px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgba(55, 53, 53, 0.77);
    position: absolute;
    top: 0;
    z-index: 1;
    /* border:1px solid red; */
}

/* Estilos para a lista de itens do menu */
.menu-bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px ;
    align-items: center;
    margin: 0 auto;
}
.menu-bar a {
    text-decoration:none;
    color:white;
}
.menu-bar a:hover {
    text-decoration: underline rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}
.btn-entrar {
    width:90%;

}
/* Estilos para o ícone de menu mobile */
.icon-mobile {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    transition: all 0.5s ease;
    margin-top: 10px;
    margin-right: 5px;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}

/* Estilos para as barras do ícone de menu mobile */
.icon-mobile span {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    transition: all 0.6s ease;
    outline: 1px solid rgba(255, 255, 255, 0.884);
}

/* Estilos para o menu mobile */
.menu-mobile {
    width: 40vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    color: black;
    background-color: white;
    margin-top: 80px;
    display: none;
    padding: 20px;
    transition: all 0.5s ease;
    font-weight: 700;
    box-shadow: 1px 1px 3px black;
}

/* Classe de exibição para o menu mobile */
.exibir {
    display: block;
}

/* Estilos para a lista de itens do menu mobile */
.menu-mobile ul {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

/* Estilos para os links do menu mobile */
.menu-mobile a {
    text-decoration: none;
    color: black;
}
.menu-mobile a:hover {
    text-decoration: underline rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}
/* Estilos para os itens da lista no menu mobile */
.menu-mobile li {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    padding-bottom: 5px;
}
.btn-enter {
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Estilos para o botão "Entrar" no menu */
.btn-enter a {
    text-align: center;
    background-color: #ff2f5c;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 7px;
    padding: 10px 12px;
    font-weight: bold;
}
.btn-enter a:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow:none;
    color:rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}
.visualizar {
    display:block;
}

/* Estilos para os botões de rádio e rótulos (labels) */
input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background-color: rgb(255, 47, 92);
}
/* Estilos para a seção de imagens do carrossel */
.imagem-carrosel {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para a seção do carrossel manual */
.carrosel-manual {
    width: 100%;
    height: auto;
    position: absolute;
    top: 380px;
    z-index: 2;
    text-align: center;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid yellow; */
}

/* Estilos para os rótulos do carrossel */
label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
}

/* Efeito ao passar o mouse sobre o botão personalizado 2 */
.btn-personalizado-2:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para a classe "menu-mobile" */
.menu-mobile i {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box {
    max-width: 1080px;
    width: 100%;
    height: 600px;
    display: flex;
    margin: 0 auto;
    padding: 0 5px;
    overflow-x: scroll;
    /* border: 1px solid black; */
}

.box-cards {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}

.card {
    width: 500px;
    height: 500px;
    padding: 10px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: #1f262c; */
    background-color: #1f262c;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 5px rgb(49, 48, 48);
    /* border: 1px solid black; */
}

.card ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /* background-color:#1f262c; */
    background-color: #1f262c;
    /* color: white; */
    color: white;
    text-align: left;
    /* border: 1px solid red; */
}

.card li {
    width: 100%;
    text-indent: 20px;
    padding: 5px 0;
    list-style-type: disc;
    list-style-position: outside;
    box-sizing: border-box;
}

.card_title {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    height: 100px;
    text-align: center;
    background-color: #1f262c;
    /* background-color: #1f262c; */
    /* color: white; */
    color: white;
    /* border: 1px solid black; */

}

.card_title h2 {
    padding: 5px;
    font-size: 35px;
    line-height: 1.1;
}

.card_mensal {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
}

.card_mensal h3 {
    font-size: 20px;
}

.card h4 {
    font-weight: bold;
    font-size: 16px;
}

.card_preco_1 {
    width: 100%;
    font-size: 55px;
    color: rgb(255, 165, 0);
    text-shadow: 1px 1px 1px black;
}

.x1 {
    border-bottom: 4px solid rgb(255, 165, 0);
}

.card_preco_2 {
    font-size: 55px;
    color: rgb(26, 75, 235);
    text-shadow: 1px 1px 1px black;
}

.x2 {
    border-bottom: 4px solid rgb(26, 75, 235);
}

.card_preco_3 {
    font-size: 55px;
    color: rgb(247, 0, 255);
    text-shadow: 1px 1px 1px black;
}

.x3 {
    border-bottom: 4px solid rgb(247, 0, 255);
}

.card_preco_4 {
    font-size: 55px;
    color: rgb(0, 128, 0);
    text-shadow: 1px 1px 1px black;
}

.x4 {
    border-bottom: 4px solid rgb(0, 128, 0);
}

.card_preco_5 {
    font-size: 55px;
    color: rgb(140, 58, 207);
    text-shadow: 1px 1px 1px black;
}

.x5 {
    border-bottom: 4px solid rgb(140, 58, 207);

}

h3.card_preco_6 {
    font-size: 45px;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 1px black;

}

.x6 {
    border-bottom: 4px solid rgb(255, 0, 0);

}

.y1 li::marker {
    color: rgb(255, 165, 0);
}

.y2 li::marker {
    color: rgb(26, 75, 235);
}

.y3 li::marker {
    color: rgb(247, 0, 255);
}

.y4 li::marker {
    color: rgb(0, 128, 0);
}

.y5 li::marker {
    color: rgb(140, 58, 207);
}

.y6 li::marker {
    color: rgb(255, 0, 0);
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 5px 0;
    /* border: 1px solid black; */
}

.btn a {
    text-decoration: none;
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(255, 47, 92);
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.btn a:hover {
    background: transparent;
    outline: 2px solid rgb(255, 47, 92);
}

.btn-enter {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(94, 93, 93);
    border-radius: 20px;
}

input[type="radio"] {
    display: none;
}

/* refere-se input /botões padrões*/
.imagem-carrossel {
    max-width: 1080px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 80px;
    /* border:1px solid black; */
    height: 350px;
}

.carrossel-manual {
    max-width: 1080px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 380px;
    z-index: 2;
    text-align: center;
    /* border:1px solid yellow; */
}

label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
    border: 1px solid white;
}

.carrossel-manual input {
    display: none;
}

h1 {
    max-width: 1080px;
    width: 95%;
    color:  rgb(19, 19, 19);
    text-align: center;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px black; */
}

.k1 {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
}

.k2 {
    display: flex;
    flex-flow: column nowrap;
}

.k3 {
    display: flex;
    flex-flow: column nowrap;
}

.k4 {
    display: flex;
    flex-flow: column nowrap;
}

/* Estilos para o rodapé (footer) */
footer {
    width: 100%;
    background-color: rgba(55, 53, 53, 0.77);
    font-size: 15px;
    margin-top:20px;
}

/* Estilos para os parágrafos dentro do rodapé */
footer p {
    text-align: center;
    padding: 7px 0;
}

/* Estilos para a lista de ícones no rodapé (icones-rodape) */
.icones-rodape ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 7px 0;
}

/* Efeito ao passar o mouse sobre os ícones no rodapé */
.icones-rodape i:hover {
    text-decoration: underline #ff2f5c;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para a lista de links no rodapé (links-rodape) */
.links-rodape ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 7px 0;
}

/* Efeito ao passar o mouse sobre os links no rodapé */
.links-rodape li:hover {
    text-decoration: underline #ff2f5c;
    cursor: pointer;
}

/* Estilos para os ícones no rodapé */
.icones-rodape i {
    font-size: 22px;
}

/* Estilos para a ocultação do menu desktop em telas menores que 850px de largura */
@media screen and (max-width: 850px) {
    .menu-bar {
        display: none;
    }
}

/* Estilos para a ocultação do ícone de menu mobile em telas maiores que 850px de largura */
@media screen and (min-width: 850px) {

    .icon-mobile,
    .nav-mobile {
        display: none;
    }
}

/* Estilos para telas menores que 400px de largura */
@media screen and (max-width: 400px) {
    .menu-mobile {
        width: 100%;
    }
}