<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>float e clear</title>
    <style>
        #container {
            width:80%;
            background-color:#ccc;
            padding:15px;
        }
        #container div {
            background-color:rgba(255, 0, 0, 0.5);
            margin-bottom:5px;
            width:60%;
            height:50px;
        }
        #div1 {
            float:left;
        }
        #div2 {
            float:right;
        }
        #div3 {
            /* float:left; */
            clear:both;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="div1">div1</div>
        <div id="div2">div2</div>
        <div id="div3">div3</div>
    </div>
</body>
</html>