<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    <style>
        #div1 {
            background-color:rgba(255, 0, 0, 0.5);
            padding:10px;
            width:90%;
            height:100px;
            position:fixed;
            top:0;
            bottom:1px;
        }
        #div2 {
            background-color:rgba(0, 255, 0, 0.5);
            padding:10px;
            width:90%;
            height:100px;
            position:sticky;
            bottom:0;
            top:0;
        }
        #div3 {
            background-color:rgba(0, 0, 255, 0.5);
            padding:10px;
            width:30px;
            height:30px;
            position:static;
            top:20px;
            right:0;
        }
    </style>
</head>
<body>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aspernatur tempora officiis quibusdam perferendis saepe soluta repudiandae. Quod porro reiciendis architecto inventore et illo, nobis tempora numquam cum sapiente quidem.</p>
   <div id="div1">
    1
    <div id="div2">
        2
        <div id="div3">3</div>
    </div>
   </div>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis illo ullam error fugit itaque consectetur quibusdam recusandae odio sunt impedit, molestiae, porro ipsa voluptas distinctio similique praesentium eveniet fuga non?</p>
</body>
</html>
<!-- position static é o valor padrão (default) -->
<!-- position relative ela vai altera o posicionamento referente a ela mesmo  -->
<!-- position absolute vai se referenciar por qualquer elemento acima dele posicionado, se não tiver nenhum elemento acima dele posicionado ele vai se relacionar com o documento-->
<!-- position fixed fixa meu conteúdo -->