<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fit-content</title>
</head>
<style>
    #container {
        border:2px solid black;
        padding:16px;
        width:300px;
    }
    .item {
        background-color:blueviolet;
        margin-bottom:10px;
        padding:5px;
        width:fit-content;
    }
</style>
<body>
    <div id="container">
        <div class="item">Lorem, ipsum.</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, similique?</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facere nulla recusandae
             voluptate, cum aut placeat incidunt obcaecati, et exercitationem, animi accusantium. Suscipit, sint in.</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsum labore amet rem. 
            Eius totam a veniam soluta unde ad doloribus consequuntur, reprehenderit impedit rerum, iusto hic aliquam 
            nihil voluptatibus! Saepe quas aperiam velit maiores voluptas ex nisi obcaecati ullam perspiciatis unde cumque
             magnam perferendis aliquam nulla illo maxime, ut commodi voluptatem tempora corrupti! Ratione reiciendis repudiandae
              tempora sed autem, aut assumenda voluptatem deleniti magnam reprehenderit harum, aliquam rem nostrum quis. Nihil 
              perferendis qui eum.</div>
    </div>
</body>