*{
    margin:0;
    padding:0;
    list-style-type:none;
    box-sizing:border-box;
}
@media screen and (max-width:700px) {
    .menu {
        display:none;
    }

}
@media screen and (min-width:700px) {
    .icon-mobile {
        display:none;
    }
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.logo {
    font-size:20px;
    font-weight:bold;
}
.nav-bar {
    width:100%;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    /* background-color:rgb(31, 31, 31); */
    background-color:black;
    position:absolute;
    top:0;
    right:0;
    z-index:2;
}
.menu ul {
    display:flex;
    gap:20px;
}
.icon-mobile {
    width:35px;
    height:35px;
    position:absolute;
    right:0;
    top:0;
    z-index:3;
    margin-top:10px;
    margin-right:10px;
    transition:all 0.5s ease;
}
.icon-mobile div {
    width:30px;
    height:5px;
    border-radius:5px;
    background-color:white;
    margin-bottom:10px;
    transition:all 1s ease;
}
.menu-mobile {
    width:300px;
    height:70vh;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
    background-color:black;
    padding-top:100px;
    display:none;
    /* transition:all 0.5s ease; */
}
.menu-mobile ul {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}