body {
    width:100%;
    margin:0 auto;
    background-color:gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
    width:100vw;
    height:250px;
    background-image:url(imagens/Banner8.jpg);
    background-position:center;
    background-repeat:no-repeat;
    /* background-size:100% 100%; */
    background-size:cover;
    /* box-sizing:border-box; */
}
h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:1px 1px 1px black;
    color:Orange;
    text-transform:uppercase;
    text-align:center;
    font-size:30px;
}
.menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:1px solid black;
    background-color:grey;
    width:100%;
    height:50px;
    position:sticky;
    top:0;
}
.menu ul {
    list-style-type:none;
    display:flex;
    gap:20px;
    justify-content:flex-end;
    align-items:center;
    margin:5px 10px 5px 0;
    color:orange;
    font-size:15px;
    font-weight:bold;
}
.menu li {
    padding:2px;
    text-shadow:1px 1px 1px black;
}
.menu li:hover {
    text-decoration:underline orange;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
    color:white;
}
.box2 nav {
    display:flex;
    justify-content:center;
}
.box2 ul {
    display:flex;
    justify-content:center;
    flex-flow:column wrap;
    gap:20px;
    list-style-type:none;
    /* border:1px solid gray; */
    width:635px;
    height:100px;
}
.box2 li:hover {
    text-decoration:underline;
    color:orange;
    text-shadow:1px 1px 1px black;
    cursor:pointer;
}
.box2, .box3, .box4 {
    background-color:white;
    width:80vw;
    margin:20px auto;
    padding:10px 0 30px 0;
}
.layout {
    display:flex;
    justify-content:center;
    align-items:center;
    width:fit-content;
    margin:0 auto;
    border:1px solid black;
}
.miniatura {
    display:flex;
    flex-direction:column;
    max-width:130px;
    max-height:300px;
    overflow:auto;
    border:1px solid black;
    min-width:50px;
    min-height:150px;
}
.miniatura img {
    margin:5px;
}
#view {
    border:1px solid black;
    max-width:0px;
    max-height:300px;
    min-width:400px;
    min-height:150px;

}
#view img {
    width:450px;
    height:300px;
}