* {
    margin:0;
    padding:0;
    list-style-type:none;
}
body {
    font-family:verdana, geneva, tahoma, sans-serif;
    background-color:brown;
    padding:5px;
    }
    .content {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        /* z-index:1; */
    }
    .icon .lines {
        position:absolute;
        z-index:3;
        width:35px;
        height:35px;
        
    } 
    .lines span {
        display:block;
        width:35px;
        height:5px;
        margin-bottom:10px;
        border-radius:5px;
        transition:all ease .2s;
        background-color:black;
    }
    #links {
        display:flex;
        flex-direction:column;
        gap:10px;
        width:200px;
        background-color:rgb(216, 206, 206);
        height:40vh; 
        padding-top:90px;
        margin-left:-300px;
        transition:all ease .2s;
        position:absolute;
        top:0;
        left:0;
        z-index:2;
        padding-left:20px;
        box-sizing:border-box;
    }
    .icon ul {
        margin-left:1;
    }
    .icon:hover {
        cursor:pointer;
    }
    #links a {
        text-decoration:none;
        color:black;
    }
    #links a:hover {
        text-decoration:underline brown;
        font-weight:bold;
        cursor:pointer;
    }