/* AVANLIAÇÃO I PROF EVANDRO */
/* PROGRAMAÇÃO FRONT-END */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:"Poppins", Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    color:white;

}
video {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:90vh;
    z-index:-1;
}
.btn-mobile {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:fit-content;
    background:transparent;
    margin-top:20px;
    margin-left:20px;
    padding:10px;
}
.btn-mobile span {
    display:block;
    width:30px;
    height:2px;
    border-radius:10px;
    transform: rotate(0deg);
    transition:all ease 0.5s;
    margin:5px;
    background-color:white;
    border:2px solid white;
}
.btn-mobile:hover {
    cursor:pointer;
    border-radius:50%;
    background-color:rgba(255, 0, 0, 0.699);
    opacity:0.8;
}
.icon-super_mario_bros {
    padding-bottom:15px;
}
.animationx span:nth-child(1) {
    transform:translateY(9px) rotate(-45deg);
}
.animationx span:nth-child(2) {
    opacity:0;
}
.animationx span:nth-child(3) {
    transform:translateY(-9px) rotate(45deg)
}
.nav-links {
    width:35vw;
    height:400px;
    position:absolute;
    top:0;
    margin-top:180px;
    margin-left:10px;
    transform:translateY(-1000px);
    transition:all ease 1.5s;
    border-radius:20px;
    box-shadow:2px 2px 5px black;
    backdrop-filter:blur(10px);
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
.nav-links ul {
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
    gap:30px;
    list-style-type:none;
}
.nav-links li {
    width:100%;
    text-align:center;
    text-transform:uppercase;
    border-bottom:1px solid rgba(128, 128, 128, 0.116);
    padding:5px 10px;
}
.nav-links a {
    color:white;
    text-decoration:none;
    padding:5px 10px;
    font-weight:bold;
    text-shadow:2px 2px 2px black;
}
.nav-links a:hover {
    width:fit-content;
    border-radius:20px;
    background-color:rgba(255, 0, 0, 0.699);
    transition:all ease 0.2s;
    cursor:pointer;
}
.visualizar {
    transform:translateY(0);
    transition:all ease 1.5s;
}
main {
    width:100vw;
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top:200px;
    /* border:1px solid white; */
}
.img-super_mario_bros {
    width:200px;
    height:190px;
}
.btn-redes_sociais {
    position:absolute;
    top:0;
    right:0;
    margin-top:20px;
    margin-right:20px;
    display:flex;
    gap:30px;
    
}
.fa-brands {
    font-size:25px;
    /* border:1px solid white; */
    padding:10px;
}
.fa-brands:hover {
    background-color:transparent;
    text-decoration:underline red;
    cursor:pointer;
    transition:all ease 1s;
    animation: pular 0.2s infinite alternate ;
}
@keyframes pular {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}