/* Importei uma nova família de fontes do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Estilos gerais para todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para o corpo da página */
body {
    max-width: 1080px;
    height: auto;
    margin: 0 auto;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 14px;
}

/* Estilos para o cabeçalho (header) */
header {
    position: relative;
    margin: 0 auto 20px;
    top: 0;
    z-index: 0;
    height: 480px;
    font-size: 15px;
}

/* Estilos para o logotipo */
.logo {
    width: 100px;
    display: flex;
    align-items: center;
}

/* Animação para o logotipo */
.animation_x span:nth-child(1) {
    transform: translateY(15px) rotate(-45deg) scaleX(1.1);
}

.animation_x span:nth-child(2) {
    opacity: 0;
}

.animation_x span:nth-child(3) {
    transform: translateY(-15px) rotate(45deg) scaleX(1.1);
}

/* Estilos para a imagem do logotipo */
.logo img {
    width: 100%;
}

/* Estilos para a barra de navegação (menu bar) */
.nav-bar {
    width: 100%;
    height:65px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(55, 53, 53, 0.77);
    position: absolute;
    top: 0;
    z-index: 1;
<<<<<<< HEAD
=======
    height: 70px;
>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
}

/* Estilos para a lista de itens do menu */
.menu-bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px ;
    align-items: center;
<<<<<<< HEAD
    margin: 0 auto;
}
.menu-bar a {
    text-decoration:none;
    color:white;
}
.menu-bar a:hover {
    text-decoration: underline rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}
.btn-entrar {
    border:none;
    background:transparent;
}
/* Efeito ao passar o mouse sobre o botão "Entrar" no menu */
.menu-bar
.btn-entrar a:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all 1s ease;
}
=======
}

>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
/* Estilos para o ícone de menu mobile */
.icon-mobile {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    transition: all 0.5s ease;
    margin-top: 10px;
    margin-right: 5px;
    box-sizing: content-box;
    padding: 5px;
    cursor: pointer;
}

/* Estilos para as barras do ícone de menu mobile */
.icon-mobile span {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    transition: all 0.6s ease;
    outline: 1px solid rgba(255, 255, 255, 0.884);
}

/* Estilos para o menu mobile */
.menu-mobile {
<<<<<<< HEAD
    width: 40vw;
=======
    width: 400px;
>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    color: black;
    background-color: white;
    margin-top: 80px;
    display: none;
    padding: 20px;
    transition: all 0.5s ease;
    font-weight: 700;
    box-shadow: 1px 1px 3px black;
}

/* Classe de exibição para o menu mobile */
.exibir {
    display: block;
}

/* Estilos para a lista de itens do menu mobile */
.menu-mobile ul {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

/* Estilos para os links do menu mobile */
.menu-mobile a {
    text-decoration: none;
    color: black;
}
<<<<<<< HEAD
.menu-mobile a:hover {
    text-decoration: underline rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}
=======

>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
/* Estilos para os itens da lista no menu mobile */
.menu-mobile li {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    padding-bottom: 5px;
}
<<<<<<< HEAD
button {
    border:none;
    background:transparent;
}

/* Estilos para o botão "Entrar" no menu */
.btn-enter a {
=======

/* Estilos para o botão "Entrar" no menu */
.btn-entrar {
>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
    text-align: center;
    background-color: #ff2f5c;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-radius: 7px;
    padding: 10px 12px;
    border: none;
    font-weight: bold;
}
<<<<<<< HEAD
.btn-enter a:hover {
=======

/* Efeito ao passar o mouse sobre o botão "Entrar" no menu */
.menu-bar .btn-entrar:hover {
>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow:2px 2px 2px black;
    cursor: pointer;
    transition: all 1s ease;
}
<<<<<<< HEAD
=======

/* Efeito ao passar o mouse sobre o botão "Entrar" no menu mobile */
.menu-mobile .btn-entrar:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease;
}

/* Efeito ao passar o mouse sobre os itens do menu no menu bar */
.menu-bar li:hover {
    text-decoration: underline rgb(255, 47, 92);
    cursor: pointer;
    transition: all 1s ease;
}

>>>>>>> ccab0356d771c064745243afb00fffc72c67d283
/* Estilos para a classe "adicionar" */
.adicionar {
    display: none;
}

/* Estilos para os botões de rádio e rótulos (labels) */
input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background-color: rgb(255, 47, 92);
}
/* Estilos para a seção de imagens do carrossel */
.imagem-carrosel {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para a seção do carrossel manual */
.carrosel-manual {
    width: 100%;
    height: auto;
    position: absolute;
    top: 380px;
    z-index: 2;
    text-align: center;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid yellow; */
}

/* Estilos para os rótulos do carrossel */
label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 25px;
}

/* Efeito ao passar o mouse sobre os botões do carrossel */
.btn:hover {
    background-color: rgba(255, 47, 92, 0.561);
    transition: all 1s ease;
}

/* Efeito ao passar o mouse sobre o botão personalizado 2 */
.btn-personalizado-2:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para a classe "menu-mobile" */
.menu-mobile i {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos para a seção principal (main) */
main {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    background-image: linear-gradient(white, gray);
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para as seções da página */
section {
    width: 100%;
    margin: 0 auto;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid pink; */
}

/* Estilos para o primeiro filho da seção */
article:nth-child(1) {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* Estilos para a imagem da empresa */
.imagem-empresa img {
    float: left;
    border-radius: 10px;
    margin: 20px;
}

/* Estilos para o título do primeiro filho da seção */
article:nth-child(1) h2 {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
}

/* Estilos para o conteúdo da empresa */
.conteudo-empresa {
    padding: 20px 10px;
}

/* Estilos para os parágrafos do conteúdo da empresa */
.conteudo-empresa p {
    text-indent: 30px;
    color: black;
}

/* Estilos para a caixa "Ler Mais" */
.lermais {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para o botão "Ler Mais" */
.btn-lermais {
    width: fit-content;
    text-align: center;
    background-color: #ff2f5c;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 1px black;
    border-radius: 7px;
    padding: 10px;
    border: none;
}

/* Efeito ao passar o mouse sobre o botão "Ler Mais" */
.btn-lermais:hover {
    background-color: transparent;
    outline: 1px solid rgb(255, 47, 92);
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para a classe "texto" */
.texto {
    display: none;
}

/* Estilos para a classe "adicionar" */
.adicionar {
    display: block;
}

/* Estilos para as seções de imagens de tecnologias e IoT */
.imagem-tecnologias,
.imagem-iot {
    width: 95%;
    height: auto;
    overflow: hidden;
    margin: 30px auto;
    color: black;
}

/* Estilos para as seções de conteúdo de IoT e tecnologias */
.conteudo-iot,
.conteudo-tecnologias {
    width: 90%;
    color: black;
    margin: 30px auto;
}

/* Estilos para o segundo filho (article:nth-child(2)) */
article:nth-child(2) {
    width: 98%;
    margin: 0 auto 50px auto;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para o terceiro filho (article:nth-child(3)) */
article:nth-child(3) {
    margin-bottom: 50px;
}

/* Estilos para o título do segundo filho */
article:nth-child(2) h2 {
    color: black;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(230, 226, 226);
    margin-bottom: 30px;
}

/* Estilos para o título do terceiro filho */
article:nth-child(3) h2 {
    padding: 30px 0;
    color: black;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(230, 226, 226);
}

/* Estilos para os parágrafos do terceiro filho */
article:nth-child(3) p {
    color: black;
}

/* Estilos para a seção de imagens IoT */
.imagem-iot {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilos para o conteúdo da seção IoT */
.conteudo-3 {
    width: 90%;
    margin: 0 auto;
}
/* Estilos para os parágrafos dentro da classe .conteudo-3 */
.conteudo-3 p {
    text-indent: 20px;
}

/* Estilos para o quarto filho (article:nth-child(4)) */
article:nth-child(4) h2 {
    text-align: center;
    padding: 30px 0;
    color: black;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgb(204, 201, 201);
}

/* Estilos para o quarto filho da seção */
article:nth-child(4) {
    margin-bottom: 50px;
}

/* Estilos para os cards de equipe (card-equipe-1 a card-equipe-9) */
.card-equipe-1,
.card-equipe-2,
.card-equipe-3,
.card-equipe-4,
.card-equipe-5,
.card-equipe-6,
.card-equipe-7,
.card-equipe-8,
.card-equipe-9 {
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-image: url(imagens/background-01.png);
    padding-top: 120px;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto 50px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
}

/* Estilos para cards de equipe individuais */
.card-equipe-2 {
    background-image: url(imagens/background-02.png);
}

.card-equipe-3 {
    background-image: url(imagens/background-03.png);
}

.card-equipe-4 {
    background-image: url(imagens/background-04.png);
}

.card-equipe-5 {
    background-image: url(imagens/background-05.png);
}

.card-equipe-6 {
    background-image: url(imagens/background-06.png);
}

.card-equipe-7 {
    background-image: url(imagens/background-07.png);
}

.card-equipe-8 {
    background-image: url(imagens/background-08.png);
}

.card-equipe-9 {
    background-image: url(imagens/background-09.png);
}

/* Estilos para a imagem do perfil */
.imagem-perfil img {
    width: 80px;
    border-radius: 50%;
}

/* Estilos para o conteúdo dos cards de equipe */
.conteudo-equipe {
    width: 300px;
    height: 190px;
    color: black;
    text-align: center;
    padding: 0 5px;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
}

/* Estilos para o título do conteúdo de equipe */
.conteudo-equipe h3 {
    color: rgb(255, 47, 92);
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}

/* Estilos para o contêiner que envolve todos os cards de equipe */
.all-cards {
    width: 95%;
    margin: 0 auto;
    height: 470px;
    display: flex;
    gap: 40px;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
    overflow-x: scroll;
    /* flex-wrap:wrap; */
}

/* Estilos para o contêiner que envolve os botões dos links */
.action-equipe {
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 30px;
    /* Comentei a borda que foi originalmente desativada */
    /* border: 1px solid black; */
    opacity: 0;
}

/* Estilos para os botões dos cards de equipe */
.action-equipe i {
    width: 100%;
    font-size: 20px;
    height: auto;
    color: black;
    padding: 3px;
}

/* Efeito ao passar o mouse sobre a área de ação */
.action-equipe:hover {
    opacity: 1;
}

/* Efeito ao passar o mouse sobre os botões de ação */
.action-equipe i:hover {
    color: #ff2f5c;
    text-decoration: underline gray;
    transition: all 1s ease;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para o rodapé (footer) */
footer {
    width: 100%;
    background-color: rgba(55, 53, 53, 0.77);
    font-size: 15px;
}

/* Estilos para os parágrafos dentro do rodapé */
footer p {
    text-align: center;
    padding: 7px 0;
}

/* Estilos para a lista de ícones no rodapé (icones-rodape) */
.icones-rodape ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 7px 0;
}

/* Efeito ao passar o mouse sobre os ícones no rodapé */
.icones-rodape i:hover {
    text-decoration: underline #ff2f5c;
    cursor: pointer;
    transition: all 1s ease;
}

/* Estilos para a lista de links no rodapé (links-rodape) */
.links-rodape ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 7px 0;
}

/* Efeito ao passar o mouse sobre os links no rodapé */
.links-rodape li:hover {
    text-decoration: underline #ff2f5c;
    cursor: pointer;
}

/* Estilos para os ícones no rodapé */
.icones-rodape i {
    font-size: 22px;
}

/* Estilos para a ocultação do menu desktop em telas menores que 850px de largura */
@media screen and (max-width: 850px) {
    .menu-bar {
        display: none;
    }
}

/* Estilos para a ocultação do ícone de menu mobile em telas maiores que 850px de largura */
@media screen and (min-width: 850px) {
    .icon-mobile, .nav-mobile {
        display: none;
    }
}

/* Estilos para telas menores que 400px de largura */
@media screen and (max-width: 400px) {
    .menu-mobile {
        width: 100%;
    }
}

/* Estilos para a barra de rolagem personalizada do navegador Chrome */
::-webkit-scrollbar {
    width: 1px;
    height: 7px;
}

/* Estilos para o polegar (thumb) da barra de rolagem personalizada do navegador Chrome */
::-webkit-scrollbar-thumb {
    background-color: rgb(107, 106, 106);
    border-radius: 20px;
}
